span.LV_validation_message {
    margin-left: 1.5em;
}
span.LV_validation_message.LV_invalid {
    color: #F10057;
}
div.field .LV_invalid_field, 
div.field input.LV_invalid_field,
div.field textarea.LV_invalid_field {
    border: 1px solid #F10057;
}
