{% if field.field.required or field.field.min_length or field.field.max_length or validation %}

<script type="text/javascript" charset="utf-8">
    $(function() {
        var lv = new LiveValidation(
            "{{ field.auto_id }}", { validMessage: " ", onlyOnBlur: true,
                onValid: function() {
                    this.insertMessage( this.createMessageSpan() );
                    this.addFieldClass();
                    $("#{{ field.auto_id }}-container ul.errorlist").hide();
                }
            });
        
        {% if field.field.required %}
            lv.add(
                Validate.Presence,
                { failureMessage: "This field is required." }
            );
        {% endif %}
        {% if field.field.min_length or field.field.max_length %}
            lv.add(
                Validate.Length,
                {
                    minimum: {% firstof field.field.min_length "0" %},
                    maximum: {% firstof field.field.max_length "1000000000000000" %}
                }
            );
        {% endif %}
        {% if validation.email %}
            lv.add(Validate.Email);
        {% endif %}
        {% if validation.pattern %}
            lv.add(
                Validate.Format,
                {
                    pattern: {{ validation.pattern.re }},
                    failureMessage: "{{ validation.pattern.message }}"
                }
            );
        {% endif %}
    });
</script>

{% endif %}
